extends layout

block content
  h1= title
  h4  ddd #{currentUser.username}
  ul
    each animal in animal_list
      li
        a(href=animal.url) #{animal.name} #{animal.diet}

    else
      li There are no animals found.