extends layout

block content
  h1= title
  if currentUser
    h4  ddd #{currentUser.username}
  else
    h4 no user detected
  ul
    each animal in animal_list
      li
        a(href=animal.url) #{animal.name} #{animal.diet}

    else
      li There are no animals found.