extends layout

block content
  h1= title
  if currentUser
    h4 eeee #{currentUser.username}
  else 
    h4 logggggggggg
  ul
    each user in user_list
      li
        a(href=user.url) #{user.username}

    else
      li There are no Users found.

  a(href='/users/signup') Add New User
  br
  if user 
    h3 Welcome back #{user.username}

    <a href="/users/logout">LOG OUT</a>
  else 

   
    <a href="/users/login">LOG IN</a>
    //- ul
    //-   li #[strong Species:] !{data.animal_count}
    //-   li #[strong Animals Found:] !{data.animal_instance_count}
    